<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{fullPath "/static/bootstrap.min.css"}}">
    <link rel="stylesheet" href="{{fullPath "/static/style.css"}}">
    <title>{{.Title}} - {{.Site.Title}}</title>
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="{{fullPath "/index"}}" class="navbar-brand">{{.Site.Title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          {{if (eq .Active "index")}}
          <li class="nav-item active">
            <a href="{{fullPath "/index"}}" class="nav-link">Index</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a href="{{fullPath "/index"}}" class="nav-link">Index</a>
          </li>
          {{end}}
        </ul>

        <ul class="navbar-nav ms-auto">
          {{if .User}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="accountMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Logged in as <strong>{{.User.Name}}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="accountMenuLink">
              {{if (eq .Active "preferences")}}
              <li><a href="{{fullPath "/auth/preferences"}}" class="dropdown-item active">Preferences</a></li>
              {{else}}
              <li><a href="{{fullPath "/auth/preferences"}}" class="dropdown-item">Preferences</a></li>
              {{end}}
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{{fullPath "/auth/logout"}}">Log out</a></li>
            </ul>
          </li>
          {{else}}
          <li class="nav-item">
            <a href="{{fullPath "/auth/login"}}" class="nav-link">Log in</a>
          </li>
          {{end}}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="container-inner">
      {{if .Alert}}
      <div class="alert alert-{{.AlertType}} alert-dismissible fade show" role="alert">
        {{.Alert}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {{end}}

      {{.CallTemplate}}
    </div>
  </div>

    <script src="{{fullPath "/static/bootstrap.bundle.min.js"}}"></script>
  </body>
</html>
