<div class="row">
  <div class="col-sm-4 mb-3">
      <div class="list-group">
          <a href="{{fullPath "/auth/preferences"}}" class="list-group-item list-group-item-action active">User information</a>
          <a href="{{fullPath "/auth/preferences/authentication"}}" class="list-group-item list-group-item-action">Authentication</a>
          <a href="{{fullPath "/auth/preferences/invites"}}" class="list-group-item list-group-item-action">Invite codes</a>
          <a href="{{fullPath "/auth/preferences/sessions"}}" class="list-group-item list-group-item-action">Active sessions</a>
      </div>
  </div>
  <div class="col-sm-8 mb-3">
    <h2>User information</h2>
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <td scope="row">Username</td>
          <td>{{.User.Name}}</td>
        </tr>
        <tr>
          <td scope="row">User ID</td>
          <td><code>{{.User.ID}}</code></td>
        </tr>
        <tr>
          <td scope="row">Editor?</td>
          <td><input class="form-check-input" type="checkbox" disabled {{if .User.IsEditor}}checked{{end}}></td>
        </tr>
        <tr>
          <td scope="row">Administrator?</td>
          <td><input class="form-check-input" type="checkbox" disabled {{if .User.IsAdmin}}checked{{end}}></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
